/* Main Contributor: Dmytro HONCHARENKO */
header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border-width) solid var(--header-border);
  background-color: rgba(255, 255, 255, 0.85);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

#change-font-size,
#send-feedback {
  width: 108px;
  margin-right: 65px;
  padding: 8px 16px;
  border: none;
  color: var(--font-color-light);
  font-size: 13px;
  cursor: pointer;
  background-color: var(--background-color-dark);
  opacity: 0.85;
}

#change-font-size:hover {
  opacity: 1;
}

#send-feedback {
  width: fit-content;
  position: fixed;
  bottom: 12px;
  right: 12px;
  margin: 0;
}

#send-feedback:hover {
  opacity: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
}

a {
  opacity: 0.85;
  color: var(--font-color-dark);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}