:root {
  --font-color-dark: #333;
  --font-color-light: #eee;
  --border-color: #555;
  --border-width: 0.5px;
  --header-border: #555;
  --background-color-dark: #333;
  --body-background-color: #fafafa;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #333;
}

html {
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Theme Switcher */
.theme-switcher {
  button {
    padding: 8px 16px;
    width: 60px;
    border: none;
    color: var(--font-color-light);
    font-size: 13px;
    cursor: pointer;
    background-color: #333;
    opacity: 0.5;
    transition: .3s ease;

    &.active,
    &:hover {
      opacity: 1;
    }
  }
}

/* Body Styles */
body {
  transition: .3s ease;

  &.light-theme {
    background-color: #fafafa;
    color-scheme: light;
    color: var(--font-color-dark);

    header {
      background-color: rgba(255, 255, 255, 0.85);
    }

    a {
      color: var(--font-color-dark);
    }

    .current-question {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    }

    .poster {
      filter: brightness(100%);
    }
  }

  &.dark-theme {
    background-color: #131313;
    color-scheme: dark;
    color: var(--font-color-light);

    header {
      background-color: rgba(19, 19, 19, 0.85);
    }

    a {
      color: var(--font-color-light);
    }

    .current-question {
      border: var(--border-width) solid var(--border-color);
    }

    #check-btn {
      background-color: var(--background-color-dark);
    }

    #answer-input:focus-within {
      border: var(--border-color) dashed var(--border-width);
    }

    .poster {
      filter: brightness(75%);
    }
  }
}

/* Header Styles */
header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: var(--border-width) solid var(--header-border);
  background-color: rgba(255, 255, 255, 0.85);
  transition: .3s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  transition: .3s ease;
}

#change-font-size {
  width: 108px;
  margin-right: 65px;
  padding: 8px 16px;
  border: none;
  color: var(--font-color-light);
  font-size: 13px;
  cursor: pointer;
  background-color: var(--background-color-dark);
  opacity: 0.85;
  transition: .3s ease;
}

#change-font-size:hover {
  opacity: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
}

a {
  opacity: 0.85;
  color: var(--font-color-dark);
  text-decoration: none;
  transition: .3s ease;
}

a:hover {
  opacity: 1;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #131313;
    color-scheme: dark;
    color: #ccc;
  }

  header {
    background-color: rgba(19, 19, 19, 0.85);
  }

  a {
    color: #ccc;
  }

  .poster {
    filter: brightness(75%);
  }

  /* Quiz Styles */
  .current-question {
    border-color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }

  #check-btn {
    background-color: var(--background-color-dark) !important;
  }

  #answer-input:focus {
    border: var(--border-color) dashed var(--border-width);
  }
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-background-color);
    color-scheme: light;
    color: var(--font-color-dark);
  }

  header {
    background-color: rgba(255, 255, 255, 0.85);
  }

  a {
    color: var(--font-color-dark);
  }
}