/* Main Contributor: Dmytro HONCHARENKO */
/**
 * 
 * This CSS file contains global styles for the university web project.
 * It defines variables for font colors, border colors, background colors, and header height.
 * It also includes styles for the theme switcher, body, header, and navigation.
 * The file supports both light and dark themes, and adjusts styles based on the user's preferred color scheme.
 */

:root {
  --font-color-dark: #333;
  --font-color-light: #eee;

  --background-color-dark: #333;
  --body-background-color: #fafafa;

  --header-border: #555;
  --header-height: 60px;

  --border-width: 0.5px;
  --border-color: #555;
  --border-radius-s: 6px;
  --border-radius-l: 12px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #333;
}

html {
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body Styles */
body {
  &.light-theme {
    background-color: #fafafa;
    color-scheme: light;
    color: var(--font-color-dark);

    header {
      background-color: rgba(255, 255, 255, 0.85);
    }

    a {
      color: var(--font-color-dark);
    }

    .current-question {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    }

    img {
      filter: brightness(100%);
    }

    .modal {
      background-color: var(--body-background-color);
    }

    .close-modal {
      filter: invert(0%);
    }
  }

  &.dark-theme {
    background-color: #131313;
    color-scheme: dark;
    color: var(--font-color-light);

    header {
      background-color: rgba(19, 19, 19, 0.85);
    }

    a {
      color: var(--font-color-light);
    }

    .current-question {
      border: var(--border-width) solid var(--border-color);
    }

    #check-btn {
      background-color: var(--background-color-dark);
    }

    #answer-input:focus-within {
      border: var(--border-color) dashed var(--border-width);
    }

    img {
      filter: brightness(75%);
    }

    .modal {
      background-color: var(--background-color-dark);
      color: var(--font-color-light)
    }

    .close-modal {
      filter: invert(100%)
    }
  }
}

/* Header Styles */
header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border-width) solid var(--header-border);
  background-color: rgba(255, 255, 255, 0.85);

  .theme-switcher button {
    padding: 8px 16px;
    border: none;
    color: var(--font-color-light);
    font-size: 13px;
    cursor: pointer;
    background-color: var(--background-color-dark);
    opacity: 0.5;
    border-radius: var(--border-radius-s);
    transition: opacity .3s ease;
  }

  .theme-switcher button.active,
  .theme-switcher button:hover {
    opacity: 1;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style: none;
}

a {
  opacity: 0.85;
  color: var(--font-color-dark);
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

#change-font-size,
#send-feedback {
  width: 108px;
  margin-right: 65px;
  padding: 8px 16px;
  border: none;
  color: var(--font-color-light);
  font-size: 13px;
  cursor: pointer;
  background-color: var(--background-color-dark);
  opacity: 0.85;
  border-radius: var(--border-radius-s);
  transition: opacity .3s ease;
}

#change-font-size:hover {
  opacity: 1;
}

#send-feedback {
  width: fit-content;
  position: fixed;
  bottom: 12px;
  right: 12px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

#send-feedback:hover {
  opacity: 1;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #131313;
    color-scheme: dark;
    color: var(--font-color-light);
  }

  header {
    background-color: rgba(19, 19, 19, 0.85);
  }

  a {
    color: var(--font-color-light);
  }

  img {
    filter: brightness(75%);
  }

  /* Quiz Styles */
  .current-question {
    border-color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }

  #check-btn {
    background-color: var(--background-color-dark) !important;
  }

  #answer-input:focus {
    border: var(--border-color) dashed var(--border-width);
  }

  .modal {
    background-color: var(--background-color-dark);
  }

  .close-modal {
    filter: invert(100%);
  }
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-background-color);
    color-scheme: light;
    color: var(--font-color-dark);
  }

  header {
    background-color: rgba(255, 255, 255, 0.85);
  }

  a {
    color: var(--font-color-dark);
  }
}