.films {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;

  .film {
    display: grid;
    grid-template-columns: 300px 200px;
    justify-content: space-between;
    padding-left: 12px;
    border: 0.7px solid #555;

    h2 {
      margin: 18px 0 12px 0;
    }

    p {
      margin: 6px 0;
    }

    strong {
      font-weight: 600;
    }

    .info {
      letter-spacing: 0.0125ch;
      line-height: 130%;
    }
  }
}

.poster {
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}