li {
  list-style: none;
}

.wrapper {
  display: grid;
  place-content: center;
  height: calc(100vh - var(--header-height));
}

.current-question {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 650px;
  height: 350px;
  margin: 24px;
  padding: 24px;
  border: 0.5px solid var(--border-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
  transition: .3s ease;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-question p {
  padding: 8px 0 12px 0;
  white-space: pre-wrap;
}

.current-question li {
  padding: 6px 0;
}

footer {
  display: inline-flex;
}

.current-question #check-btn {
  opacity: 0.95;
  padding: 12px 24px;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  background-color: var(--background-color-dark);
  transition: .3s ease;
}

.current-question #check-btn:hover {
  opacity: 1;
}

.input-mode::before {
  content: "—  ";
}

#answer-input {
  opacity: 0;
  width: 0;
  padding: 0;
  border: 0.5px solid var(--border-color);
  font-size: 14.5px;
  letter-spacing: 0.0125em;
  transition: .3s ease;
}

#answer-input:focus {
  border-style: dashed;
  outline: none;
}

.correct-answer {
  box-shadow: 0 0 60px rgba(52, 199, 89, 0.6) !important;
}

.incorrect-answer {
  box-shadow: 0 0 60px rgba(255, 59, 48, 0.6) !important;
}